# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION BEGIN
PassengerAppRoot "/home/n1dto2w70du2/musaferun_blog"
PassengerBaseURI "/"
PassengerPython "/home/n1dto2w70du2/virtualenv/musaferun_blog/3.7/bin/python"
# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION END
RewriteEngine On
RewriteCond %{HTTP_HOST} musaferun\.com [NC]
RewriteCond %{SERVER_PORT} 80
RewriteRule ^(.*)$ https://musaferun.com/$1 [R,L]
# DO NOT REMOVE OR MODIFY. CLOUDLINUX ENV VARS CONFIGURATION BEGIN
<IfModule Litespeed>
</IfModule>
# DO NOT REMOVE OR MODIFY. CLOUDLINUX ENV VARS CONFIGURATION END