{% load static %}
    <footer class="bg-dark py-4">
      <div class="container">
        <div class="row py-2">
          <div class="col-lg-4 text-center text-lg-left mb-2 mb-lg-0">
            <p class="small text-muted text-uppercase mb-0">&copy; copyright 2020 - all rights reserved</p>
          </div>
          <div class="col-lg-4 text-center mb-2 mb-lg-0">
            <ul class="list-inline text-white small mb-0">
              <li class="list-inline-item"><a href=""><img class="svg-icon" src="{% static 'img/fa.png' %}" alt=""></a></li>
              <li class="list-inline-item"><a href=""><img class="svg-icon" src="{% static 'img/insto.png' %}" alt=""></a></li>
              <li class="list-inline-item"><a href=""><img class="svg-icon" src="{% static 'img/yo.png' %}" alt=""></a></li>
              <li class="list-inline-item"><a href=""><img class="svg-icon" src="{% static 'img/tw.png' %}" alt=""></a></li>
              <li class="list-inline-item"><a href=""><img class="svg-icon" src="{% static 'img/li.png' %}" alt=""></a></li>
            </ul>
          </div>
          <div class="col-lg-4 text-center text-lg-right">
            <p class="small text-muted text-uppercase mb-0">Made with <img class="svg-icon" src="{% static 'img/lo.png' %}" alt="shiso"> by <a href="#">SHISO</a>. </p>
          </div>
        </div>
      </div>
    </footer>